* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

:root {
  --VIOLET: #7d49aa;
  --SOFT_ORANGE: #f3c677;
  --BLACK: #000000;
  --WHITE: #ffffff;
  --GREEN: #0fa36b;
  --LIME_GREEN: #27ae60;
  --DARK_GRAY: #313131;
  --LIGHT_GRAY: #e5e5e5;
  --VERY_LIGHT_GRAY: #f9f9f9;
}

html,
body {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}
